<h1 class="mt-5 pt-3">Action<%= book %></h1>
        
<section class="row row-flex">
    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 col-12 mt-5">
        <div class="row row-flex items-style">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-6">
                <a href="http://www.google.com">
                    <img src='img/book 1.jpg' alt="Book Cover" class="image-style"> 
                </a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6 col-6">
                
                <h5 class="book-title-style"><a style="font-size: 3vw!important;" href="#"> Book Title<%= book.title[1] %> </a></h5>
                <h5 class="author-style"><a href="#"> Book Author </a></h5>
                <h5 class="author-style"> Book Price </h5>
                <p> Book Description<a href="#" class="readmore-style"> read more </a> </p>
                <div class="row text-left mt-auto">
                    <p class="ml-1"><a href="#" target="_blank" class="btn btn-sm btn-success">Bookmark</a></p>
                    <p class="ml-1"><a href="#" target="_blank" class="btn btn-sm btn-success">Buy</a></p>
                    <p class="ml-1 mr-auto"><a href="#" target="_blank" class="btn btn-sm btn-success">Add to Cart</a></p>
                </div>
            </div>
        </div>
    </div>
    </section>