<%- include('partials/head'); -%>

    <%- include('partials/sidebar'); -%>

        <!-- Page Content -->
        <div id="container">
            <%- include('partials/navbar'); -%>

            <div id="content-container">
                <div class="row row-flex">
                    <div class="col-lg-3 col-md-3 col-sm-3 d-none d-md-block d-lg-block d-xl-block px-auto">
                        <div class="icon-bar mt-5 pt-3">
                            <h2>Categories</h2>
                            <a href="#">Action</a>
                            <a href="#">Comedy</a>
                            <a href="#">Romance</a>
                            <a href="#">Suspense</a>
                            <a href="#">Thriller</a>
                            <a href="#">Action</a>
                            <a href="#">Comedy</a>
                            <a href="#">Romance</a>
                            <a href="#">Suspense</a>
                            <a href="#">Thriller</a>
                            <a href="#">Action</a>
                            <a href="#">Comedy</a>
                            <a href="#">Romance</a>
                            <a href="#">Suspense</a>
                            <a href="#">Thriller</a>
                            <a href="#">Action</a>
                            <a href="#">Comedy</a>
                            <a href="#">Romance</a>
                            <a href="#">Suspense</a>
                            <a href="#">Thriller</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-12 d-md-none d-lg-none d-xl-none px-auto">
                        <select class="browser-default custom-select">
                            <option selected="0">Action</option>
                            <option value="1">Comedy</option>
                            <option value="2">Romance</option>
                            <option value="3">Suspense</option>
                            <option value="4">Thriller</option>
                            <option value="11">Comedy</option>
                            <option value="12">Romance</option>
                            <option value="13">Suspense</option>
                            <option value="14">Thriller</option>
                            <option value="21">Comedy</option>
                            <option value="22">Romance</option>
                            <option value="23">Suspense</option>
                            <option value="24">Thriller</option>
                            <option value="31">Comedy</option>
                            <option value="32">Romance</option>
                            <option value="33">Suspense</option>
                            <option value="34">Thriller</option>
                        </select>
                    </div>

                    <div id="bookmarkedFilesPanel" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-12">
                        <div class="jumbotron">
                            <h1>Bookmark Section</h1>
                            <p class="lead">Here you can browse all of the books you have bookmarked! You can buy or
                                delete the books you have bookmarked in your account.</p>
                        </div>

                        <section class="row row-flex">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mt-5">
                                <div class="row row-flex items-style">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <a href="http://www.google.com">
                                            <img src='img/book 1.jpg' alt="The King of Drugs" class="image-style">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <h5 class="book-title-style"><a href="#"> The King of Drugs </a></h5>
                                        <h5 class="author-style"><a href="#"> Nora Barret </a></h5>
                                        <p> From a New York Times bestselling author: One horrific night changed
                                            everything for Sarah Hampton and Tyler Grant. <a href="#"
                                                class="readmore-style"> read more </a> </p>
                                        <div class="row text-left">
                                            <p class="ml-2"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-success">Buy</a></p>
                                            <p class="ml-2 mr-auto"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-danger">Delete</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mt-5">
                                <div class="row row-flex items-style">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <a href="http://www.google.com">
                                            <img src='img/book 1.jpg' alt="The King of Drugs" class="image-style">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <h5 class="book-title-style"><a href="#"> The King of Drugs </a></h5>
                                        <h5 class="author-style"><a href="#"> Nora Barret </a></h5>
                                        <p> From a New York Times bestselling author: One horrific night changed
                                            everything for Sarah Hampton and Tyler Grant. <a href="#"
                                                class="readmore-style"> read more </a> </p>
                                        <div class="row text-left">
                                            <p class="ml-2"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-success">Buy</a></p>
                                            <p class="ml-2 mr-auto"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-danger">Delete</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mt-5">
                                <div class="row row-flex items-style">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <a href="http://www.google.com">
                                            <img src='img/book 1.jpg' alt="The King of Drugs" class="image-style">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <h5 class="book-title-style"><a href="#"> The King of Drugs </a></h5>
                                        <h5 class="author-style"><a href="#"> Nora Barret </a></h5>
                                        <p> From a New York Times bestselling author: One horrific night changed
                                            everything for Sarah Hampton and Tyler Grant. <a href="#"
                                                class="readmore-style"> read more </a> </p>
                                        <div class="row text-left">
                                            <p class="ml-2"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-success">Buy</a></p>
                                            <p class="ml-2 mr-auto"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-danger">Delete</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mt-5">
                                <div class="row row-flex items-style">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <a href="http://www.google.com">
                                            <img src='img/book 1.jpg' alt="The King of Drugs" class="image-style">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                        <h5 class="book-title-style"><a href="#"> The King of Drugs </a></h5>
                                        <h5 class="author-style"><a href="#"> Nora Barret </a></h5>
                                        <p> From a New York Times bestselling author: One horrific night changed
                                            everything for Sarah Hampton and Tyler Grant. <a href="#"
                                                class="readmore-style"> read more </a> </p>
                                        <div class="row text-left">
                                            <p class="ml-2"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-success">Buy</a></p>
                                            <p class="ml-2 mr-auto"><a href="#" target="_blank"
                                                    class="btn btn-sm btn-danger">Delete</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>

<%- include('partials/footer'); -%>