<%- include('partials/head'); -%>

    <%- include('partials/sidebar'); -%>
    
        <!-- Page Content -->
        <div id="container">
            <%- include('partials/navbar_v2'); -%>
            
            <div id="content-container">
                <a>Cart</a></div>
                <a>Cart</a></div>
                <a>Cart</a></div>
                <a>Cart</a></div>
        </div>

<%- include('partials/footer'); -%>