<%- include('partials/head'); -%>

    <%- include('partials/sidebar'); -%>

        <!-- Page Content -->
        <div id="container">
            <%- include('partials/navbar'); -%>

            <div id="content-container">
                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, voluptatum illum magnam eligendi nihil
                    nemo cum! Facere dignissimos fuga qui, culpa cum eos quod omnis modi dolorum repellendus at
                    distinctio numquam possimus obcaecati, explicabo ab nam. Maiores, esse at. Aliquam, voluptatibus
                    repellendus deleniti modi quibusdam necessitatibus voluptas doloremque aspernatur quos consequuntur,
                    quis quia dicta dolores ipsam ad suscipit aut assumenda exercitationem reprehenderit facere
                    laudantium! Facere veritatis quod, a eos dignissimos explicabo consequuntur iusto iure enim,
                    doloremque ullam assumenda esse! Maxime amet at commodi! Eius voluptatibus porro corrupti nam quam
                    corporis perspiciatis facilis, culpa perferendis, error blanditiis sunt velit illum adipisci alias
                    incidunt mollitia! Expedita officia nostrum sint. Consectetur nulla ex aut dolores, repudiandae,
                    blanditiis suscipit nemo magni adipisci magnam rerum officiis numquam, in nostrum enim illo. Eveniet
                    animi neque reiciendis explicabo. Dignissimos error odit facilis sequi delectus modi expedita,
                    itaque rerum doloribus laborum debitis animi. Consequuntur incidunt amet ex accusantium saepe hic
                    vero quis aliquam enim. Aut consequuntur, voluptatem nesciunt animi assumenda nulla aliquam quo
                    beatae alias rerum rem porro adipisci possimus debitis quasi nisi tenetur sed magnam, itaque
                    blanditiis pariatur laudantium temporibus ducimus omnis. Sequi laborum quam et itaque odio minima
                    deserunt doloremque cum error eos? Doloremque enim velit repudiandae expedita voluptatum, architecto
                    atque sunt? Eum a incidunt, ut in unde voluptatum vero nobis praesentium et deserunt tenetur nemo
                    quae similique, libero numquam odit quaerat ipsa nam. Explicabo, hic quis. Cumque a impedit libero
                    adipisci doloremque molestias quibusdam excepturi. Quibusdam, earum quasi sequi voluptatibus hic
                    mollitia optio veniam iste odio sed quod in qui? Veniam, a neque repellendus consequatur odit unde
                    officia ut, accusantium eius quibusdam beatae blanditiis dignissimos ea! Tempore sunt eum iste autem
                    laborum sit fuga placeat neque sed, officiis eos eveniet ex nesciunt, omnis voluptas magni porro!
                    Magnam dicta quis libero fugiat perspiciatis doloribus iure eaque, eum voluptatibus inventore beatae
                    magni temporibus ipsam reiciendis iste numquam! Aliquam quisquam id aperiam, cumque iure temporibus
                    perspiciatis consequuntur quia laborum ipsum. Animi nam eos totam aliquam atque. Inventore deserunt
                    placeat voluptas. Quis eos repellat ut veniam cupiditate amet autem reiciendis quibusdam. Dolores
                    sapiente repellendus voluptatem voluptates voluptate quas facilis in, harum maiores nesciunt quaerat
                    eius obcaecati tempore enim vel optio commodi non vero consequuntur. Nisi at ab earum maiores
                    commodi omnis eius sint, tempore asperiores dolores ea! Temporibus cum magnam quod enim ad quibusdam
                    dolores eligendi veniam voluptatibus, asperiores sapiente omnis ducimus sequi repellendus nulla
                    eveniet illum accusantium consequuntur vitae blanditiis eius id necessitatibus nemo praesentium.
                    Iusto earum doloremque quaerat veniam voluptatum sunt illum aliquid sequi dolorem, sit consequatur,
                    error ipsum est enim at hic officiis vero assumenda eos delectus quibusdam mollitia? Saepe ut modi
                    vitae laborum, odit cum corporis libero numquam praesentium quisquam quia consequuntur atque earum,
                    voluptate pariatur dignissimos culpa alias assumenda obcaecati molestiae eos distinctio, quasi
                    velit! Velit iure laudantium ut mollitia autem maxime cumque nihil reprehenderit facere, minima
                    aperiam modi distinctio sint corporis repellendus deserunt, quibusdam quisquam error a ipsum tempore
                    labore qui est. Obcaecati, a? Est aliquid autem alias temporibus repellat tempore ullam quod
                    sapiente sed optio minima quam reiciendis totam, nemo facilis iste! Adipisci et soluta, architecto
                    qui at consectetur perferendis molestias provident deserunt laudantium, laborum nesciunt eius beatae
                    sapiente dolor iure! Itaque quod voluptates ex, explicabo, sunt similique nesciunt fuga obcaecati
                    iusto, libero amet quis consequuntur aliquid doloremque nisi ratione. Ducimus placeat vero veritatis
                    quasi! Possimus assumenda porro facere vero libero ullam, omnis earum aperiam adipisci neque, alias
                    consequuntur voluptatem aspernatur aut nisi autem soluta labore dolores inventore odit sit. Tempore,
                    nulla deleniti odit quae exercitationem optio quidem illo impedit, eveniet porro, tempora numquam
                    facere? Impedit architecto itaque veritatis nemo optio magnam non culpa harum exercitationem ex
                    soluta numquam hic, dignissimos magni odio nulla velit asperiores ea corrupti atque qui neque.
                    Maxime velit debitis deleniti! Necessitatibus quam inventore aut, ratione eveniet quidem vero
                    dolores. Asperiores sit ullam facere veniam laudantium laborum voluptatem itaque numquam quaerat
                    consequatur, tenetur ipsam voluptates? Sapiente cum soluta corrupti, voluptas unde harum quasi
                    aperiam placeat aliquam repudiandae ullam. Corporis neque nihil rem nemo molestiae repellendus! Ut
                    tempora sed enim iste consequuntur molestiae illo sit officia consequatur atque cumque quam quasi
                    odit unde ducimus, laborum suscipit eius dolorem dignissimos. Placeat fugiat a quo natus
                    perferendis, et explicabo quod odio. Quam voluptate aspernatur inventore debitis perspiciatis
                    repellat hic magni quaerat quis qui harum enim aliquam praesentium eveniet facere, ipsa explicabo
                    fuga maiores deleniti adipisci quia voluptatum iste est distinctio. Inventore alias dolores minus
                    debitis repellendus saepe, officiis assumenda dolor et itaque natus accusantium non dolorem quae
                    nostrum labore sint consectetur error a placeat, accusamus, culpa ducimus ratione quidem. Ipsum,
                    reiciendis dolores! Sequi, impedit adipisci quaerat praesentium unde asperiores veritatis sapiente
                    alias quisquam omnis exercitationem non consequuntur voluptate vitae harum odit vel soluta porro
                    dolore eligendi molestias. In eaque quaerat tenetur quo sapiente maiores exercitationem ex
                    laudantium qui dolorem quidem cumque quod temporibus omnis quae asperiores suscipit, corrupti
                    pariatur modi est! Blanditiis dolorem ipsam totam magni eum reiciendis aspernatur tempore voluptates
                    repellat quidem, repudiandae magnam ducimus aliquid nisi aperiam perspiciatis excepturi laboriosam
                    amet nihil, saepe explicabo? Corporis possimus, laborum amet ullam aliquid velit quasi? Sapiente
                    architecto omnis repudiandae possimus vitae praesentium est sint. Eius necessitatibus cupiditate
                    fugiat, animi esse expedita laudantium cum voluptatum in! Nostrum, optio illo necessitatibus
                    repellat ut dolore, esse consequuntur ducimus odio dolor sapiente qui pariatur, corporis cumque
                    ratione molestiae. Doloribus earum dicta ducimus suscipit! Et laudantium nulla error perspiciatis
                    quae, soluta officia nesciunt ducimus modi exercitationem temporibus est aspernatur minima, adipisci
                    sapiente rerum! Rerum quos consequatur sint aspernatur optio accusamus, quasi deleniti odio. Facere
                    alias saepe temporibus quaerat laboriosam placeat necessitatibus. Molestiae, eaque maxime unde
                    repellat molestias adipisci tempora minima temporibus, eum ipsam beatae reprehenderit eius
                    consequatur quibusdam quo. Nisi, dicta odit. Laboriosam officia deserunt facere, aspernatur impedit
                    minima itaque, tenetur delectus id magni corrupti a. Suscipit, non iste? Cumque odit sed beatae,
                    eligendi dolor, voluptatibus nihil modi excepturi recusandae numquam, libero blanditiis animi culpa
                    porro possimus ratione. Optio, consectetur ratione aliquam quis fugit ullam placeat molestiae porro
                    repellendus, eveniet perferendis, harum repellat non cupiditate officiis provident.</a>
            </div>
        </div>

        <footer>
            <div class="container-fluid">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <p class="text-dark">Copyright © 2020 - EggScrumble</p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href="#" class="text-dark">Terms of Use</a>
                        <span class="text-dark mx-2">|</span>
                        <a href="https://github.com/KuyaChoseph/Egg-Scrumble-Website" class="text-dark">Github Link</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Sidebar Script -->
    <script src="sidebar.js"></script>
</body>

</html>