    <%- include('partials/head'); -%>

        <%- include('partials/sidebar'); -%>
        
            <!-- Page Content -->
            <div id="container">
                <%- include('partials/navbar_v2'); -%>
                
                <div id="content-container">
                    <a>OWNED</a></div>
                   
            </div>

    <%- include('partials/footer'); -%>