#colors {
  /* Primary 1 */
  color: #06397d;

  /* Secondary 1 */
  color: #f1af20;

  /* Background 1*/
  color: #398eb2;

  /* background 2 and secondary 2*/
  color: #e4e9f4;

  /*secondary 3*/
  color: #757575;

  /* danger */
  color: #911f1e;
}
